body { 
    background: url(https://2.bp.blogspot.com/-BEbFzU6x-B0/Whjv4tkPTfI/AAAAAAAAGnk/cFHJyCkxW-oqOp_cr7goNQtM6f2gxJRLgCLcBGAs/s1600/autumn-orange-nature-red-630754.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }